@import 'tailwindcss';
@plugin "tailwindcss-animate";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.jsx';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@custom-variant dark (&:is(.dark *));

:root {
  --bg-60: #f6f9f6;
  --bg-30: #fff;
  --bg-10: #21b76e;
  --bg-gray: hsl(0, 0%, 85%);

  --first: #fff;
  --second: #000;
  --third: #808080;
  --soft-bg: #e9e9e9;
  --text-green: var(--bg-10);
  --banner: #def4ea;
  --soft-blue: #abd5c76e;

  --custom-shadow: 0 2px 5px 1px hsla(0, 0%, 0%, 0.2);

  --wave-1: rgba(33, 183, 110, 0.5);
  --wave-2: rgba(33, 183, 110, 0.3);
  --wave-3: rgba(33, 183, 110);
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

/* Background Color Class */
.bg-60 {
  background-color: var(--bg-60);
}
.bg-30 {
  background-color: var(--bg-30);
}
.bg-10 {
  background-color: var(--bg-10);
}
.bg-soft {
  background-color: var(--soft-bg);
}
.bg-soft-blue {
  background-color: var(--soft-blue);
}
.bg-banner {
  background-color: var(--banner);
}
.bg-gray {
  background-color: var(--bg-gray);
}

/* Text Color Class */
.text-first {
  color: var(--first);
}
.text-second {
  color: var(--second);
}
.text-third {
  color: var(--third);
}
.text-green {
  color: var(--text-green);
}

/**********************************/
/* Custom Shadow Class */
.custom-shadow {
  box-shadow: var(--custom-shadow);
}

body {
  font-family: sans-serif;
  background-color: var(--bg-60);
  overflow-x: hidden;
}

::selection {
  background: var(--bg-10);
  color: white;
}

.green-bg-selection::selection {
  background: color-mix(in srgb, var(--bg-10) 20%, white 80%);
  color: var(--text-green);
}

.navbaranim{
  animation: show 500ms ease-in-out forwards;
}

@keyframes show {
  to{
    top: 0;
  }
}

/**********************************/
/* Media Quary Custome Breakpoint */
@theme {
  --breakpoint-tn: 450px;
}
@media (min-width: var(--breakpoint-tn)) {
  .tn\: {
  }
}

/**********************************/
/* Scrollbar Custome */
.scrollbar::-webkit-scrollbar {
  width: 8px;
}
.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.scrollbar::-webkit-scrollbar-thumb {
  background: var(--third);
  border-radius: 50px;
}
.scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--bg-10);
  cursor: pointer;
}

/**********************************/
/* Classes Custome */

.flexy {
  @apply flex items-center justify-center;
}
.button {
  @apply bg-[var(--bg-10)] text-[var(--bg-30)] text-sm font-semibold py-1.5 px-4 rounded-sm cursor-pointer;
}

.LogInInput {
  @apply w-full h-10 focus:border-green-700 border border-[var(--third)] text-xs 
         focus:outline-none focus:ring-2 focus:ring-green-500 rounded-[0.5rem]
         px-2 py-0.5 font-bold;
}
.TextAreaInput {
  @apply w-full focus:border-green-700 border border-[var(--third)] text-xs 
  focus:outline-none focus:ring-2 focus:ring-green-500 rounded-[0.5rem]
  px-2 py-2 font-bold;
}
.SocialIcons {
  background-color: var(--bg-30);
  @apply hover:shadow-2xl hover:bg-[var(--bg-10)]
         text-[var(--first)] hover:text-[var(--first)] p-2 rounded-full cursor-pointer
         transition duration-300;
}
.footer-link {
  @apply inline-block hover:scale-105 hover:text-[var(--bg-30)] transition duration-300 cursor-pointer;
}
.Nextbutton {
  @apply px-5 py-1 rounded-full flex justify-center items-center text-white hover:scale-[1.05] active:scale-[0.6] transition-transform duration-500 cursor-pointer;
  background-color: var(--bg-10);
}
.Backbutton {
  @apply px-5 py-1 rounded-full flex justify-center items-center text-black hover:scale-[1.05] active:scale-[0.6] transition-transform duration-500 cursor-pointer;
  background-color: var(--soft-bg);
}
.SelectForm {
  @apply w-full h-13 py-1 rounded border-[0.3px] text-sm;
}
.sideBarBtn {
  @apply flex rounded-r-full py-7 pl-7 gap-4 cursor-pointer;
}
.TopManageDashboard {
  @apply absolute top-2.5 left-1/2 transform -translate-x-1/2 py-2 px-5 flex items-center justify-center gap-4 border-b
}
.WorldMealBtn{
  @apply flex bg-[var(--bg-10)] rounded-full text-white tn:text-2xl! max-sm:text-base max-sm:py-1 max-sm:px-6 sm:text-2xl tracking-wide font-medium font-mono py-1 px-3 sm:py-2 sm:px-7 cursor-pointer transition-all duration-300 active:scale-100 hover:bg-white hover:text-[var(--bg-10)] hover:scale-92;
}
.sideBarCategoriesBtn {
  @apply relative flex border-b-2 rounded-r-full py-7 pr-2 justify-between cursor-pointer w-[80%];
}

/************************************************************************/
/* Shadcn Ui Custom */
.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.141 0.005 285.823);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.141 0.005 285.823);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.274 0.006 286.033);
  --input: oklch(0.274 0.006 286.033);
  --ring: oklch(0.442 0.017 285.786);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.274 0.006 286.033);
  --sidebar-ring: oklch(0.442 0.017 285.786);
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.checkmark.active{
    animation: checkmark 300ms ease-out forwards;
}

@keyframes checkmark {
    0%{
        stroke-dashoffset: 75;
    }
    100%{
        stroke-dashoffset: 0;
    }
} 
